version: "3.9"

services:
  api:
    build: .
    container_name: hr-system-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
    restart: always

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: hr_system
      POSTGRES_USER: moein
      POSTGRES_PASSWORD: 123456
    volums:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always